body{
  margin: 0;
  padding: 0;
  background-color: #181818;
  width: 100%;
  height: 700px;
}
.H1-movie{
  text-align: center;
  color: white;
}
.container{
  width: 80%;
  margin: 10px auto;
}
.search-field{
  width: 100%;
  height: 40px; 
  background-color: rgb(250, 250, 250);
  border-color: rgb(255, 255, 0);
  outline: none;
  border-top: none;
  border-left:none ;
  border-right: none;
  border-bottom: 3px solid rgb(255, 0, 0);
}
.search-field:hover{

  background-color: rgb(255, 255, 255);
  border-color: rgb(177, 27, 27);

}
.btn{
  width: 90px;
  height: 40px;
  margin-top: 20px;
  background-color: rgb(238, 16, 16);
  color: white;
  border: none; 
  border-radius: 10px;
  outline: none;
}
.btn:hover{
  background-color: rgb(177, 21, 21);

}
.poster{
  width: 30%;
  /* background-color: violet; */
  height: 350px;
}
.container1{
  width: 80%;
  margin: 10px auto;
  display: flex;
}
.img-size{
  width: 100%;
   height: 380px;
   background-position: center center;
   background-size: cover;
}
.info{
  margin: 0px 0px 10px 20px;
font-size: 13px;
  display: inline;
  width: 100%;
  height: 350px;
  color: white;
}
.rating{
display: flex;
justify-content: space-evenly;
margin: 0;
font-size: 14px;
}
h3{
font-size: 12px;
  
}
.text{
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
